@typeparam TResponse

@if (MultiFile)
{
    <label class="@InputCss" for="InputFileExtendedMultiple">
        <InputFile multiple OnChange="Files.UploadFile"
                   id="InputFileExtendedMultiple" title="@InputTitle"
                   accept="@InputFileTypes" />
        @if (string.IsNullOrEmpty(SelectionInfo))
        {
            @if (InputContent is null)
            {
                <span>Choose File</span>
            }
            else
            {

                @InputContent
            }
        }
        else
        {
            <span class="@SelectionCss">@SelectionInfo</span>
        }
    </label>
}
else
{
    <label class="@InputCss" for="InputFileExtendedSingle">
        <InputFile OnChange="Files.UploadFile"
                   id="InputFileExtendedSingle" title="@InputTitle"
                   accept="@InputFileTypes" />
        @if (string.IsNullOrEmpty(SelectionInfo))
        {
            @if (InputContent is null)
            {
                <span>Choose File</span>
            }
            else
            {

                @InputContent
            }
        }
        else
        {
            <span class="@SelectionCss">@SelectionInfo</span>
        }
    </label>
}

@if (ButtonShow)
{
    <button class="@ButtonCss" @onclick="Save" title="@ButtonTitle">
        @if (ButtonContent is null)
        {
            <span>Upload</span>
        }
        else
        {
            @ButtonContent
        }
    </button>
}

@if (IsImage && ShowPreview && FileBytes is not null)
{
    <figure class="@PreviewWrapperCss">
        <img src="data:image;base64,@Convert.ToBase64String(FileBytes)" class="@FileCss" />
    </figure>
}

<label>@ErrorMessages</label>
