@page "/demos/single"
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6750814218988007"
         data-ad-slot="2643405184"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <h1>Single file</h1>
    <p>In this page we will simulate how to upload a image file. This page don't upload really any file so you can see the functionality.</p>
    <p>Is setup like multiple files but limited to only 1, you can see the error event response if you try to select more than 1 file</p>

    <div class="form-row">
        <p>
            Personalize your texts
        </p>
        <div class="form-group col">
            <label>Choose file text</label>
            <input type="text" class="form-control" placeholder="Select File button text" @bind="SelectText">
        </div>
        <div class="form-group col">
            <label>Upload button text</label>
            <input type="text" class="form-control" placeholder="Upload Button text" @bind="UploadText">
        </div>

    </div>

    <div class="row">
        <div class="col-6">
            <InputFileExtended TargetToPostFile="files"
                               IsImage="true"
                               ShowPreview="true"
                               MaxUploatedFiles="1"
                               MaxFileSize="51200"
                               MultiFile="true"
                               CleanOnSuccessUpload="true"
                               OnError="Error"
                               OnUploadedFile="UploadFile"
                               OnUploadComleted="Completed"
                               OnSave="Save"
                               ButtonShow="true"
                               ButtonCss="btn btn-primary"
                               ButtonTitle="Click here to upload the file">
                <InputContent>@SelectText</InputContent>
                <ButtonContent>@UploadText</ButtonContent>
            </InputFileExtended>
            <pre class="pre-scrollable">
<code>&lt;InputFileExtended
            TargetToPostFile="simulate"
            IsImage="true"
            ShowPreview="true"
            MaxUploatedFiles="1"
            MaxFileSize=51200
            CleanOnSuccessUpload="true"
            MultiFile="true"
            ButtonShow="true"
            ButtonCss="btn btn-primary"
            ButtonTitle="Click here to upload the file"
            OnSave="Save"
            OnError="Error"
            OnUploadedFile="UploadFile"
            OnUploadComleted="Completed" /&gt;

@@code{
    string ErrorsMessage;
    string UploadMessage;
    string CompletedMessage;
    string SaveMessage;

    async Task Save()
    {
        SaveMessage = "Uploading image ... (Simulate 3 seconds)";
        await Task.Delay(3000);
        SaveMessage = "Image Uploaded!";
    }

    void Error(ArgumentException e) =>
        ErrorsMessage = e.Message;

    void UploadFile(FileUploadEventArgs e) =>
        UploadMessage = $"File name: {e.File.Name} File type: {e.File.ContentType} Size: {e.File.Size} Action: {e.Action}";

    void Completed(FilesUploadEventArgs e) =>
        CompletedMessage = $". Files loaded: {e.Count} with total size: {e.Size} Action: {e.Action}";
}
</code>
        </pre>

        </div>
        <div class="col">
            <p>Messages</p>
            <ol>
                <li><strong>Upload File:</strong> @UploadMessage</li>
                <li><strong>Complete:</strong> @CompletedMessage</li>
                <li><strong>Save:</strong> @SaveMessage</li>
                <li><strong>Error:</strong> @ErrorsMessage</li>
            </ol>
            <h2>How is work</h2>
            <ol>
                <li>Declared UploadImage to do a reference with the component. <i>This is nor required, it's only for the demo can clean the file preview after upload.</i></li>
                <li>In the event Save clear the <strong>Field</strong> UploadImage.FileBytes to remove the preview after upload.</li>
                <li>In the event Error shows all the errors can happen. If you select 2 files or file is more than 512Kb you can see the example.</li>
                <li>In the event UploadFile show the data from the image selected after load the image.</li>
                <li>In the event Completed show how many files are load and the total size about all the files.</li>
            </ol>
        </div>
    </div>